<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preview</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <header>
        <div class="preview">
            <img src="/storage/img/Image Preview.png">
            <div class="botones">
                <a href="/index.html"><img src="/storage/img/Back.png"></a>

            </div>
        </div>
    </header>
    <div class="info">
        <div class="title">
            <h1>Light Dress Bless</h1>
            <p>⭐5.0 <span class="views">(7.932 reviews)</span></p>
        </div>
            <div class="counter">
                <button class="button" id="decrease">-</button>
                <span id="count">1</span>
                <button class="button" id="increase">+</button>
            </div>
    </div>
    <main>
      
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum iure at
          dolor libero assumenda nam dolorum consequuntur voluptatem? Numquam
          accusantium eligendi, deleniti dolores dicta fuga aperiam placeat
          eveniet. Quod, magnam.<a id="open_dialog"><strong>Read more...</strong></a>
        </p>
      
        <dialog aria-labelledby="dialog_title" aria-describedby="dialog_description">
          <img src="https://native-dialog.surge.sh/location-service.svg" alt="Illustration of Location Services" />
          <h2 id="dialog_title" class="h2">Use location services?</h2>
          <p id="dialog_description">
            In order to give directional instructions, we kindly ask you to turn
            on the location services.
          </p>
          <div class="flex flex-space-between">
            <button id="close_dialog">Close</button>
            <button id="confirm_dialog" class="cta">Confirm</button>
          </div>
        </dialog>
      </main>
      <footer>
        <div class="opcion">
            <div class="part1">
                <h3>Choose Size</h3>
               <button class="icon" href="#">S</button>
               <button class="icon" href="#">M</button>
               <button class="icon" href="#">L</button>
               <button class="icon" href="#">XL</button>
            </div>
            <div class="part2">
                <h3>Color</h3>
            </div>
            
        </div>
      </footer>

      <script type="module" src="/js/detail.js"></script>
</body>
</html>