<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preview</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>
<body>
    <header>
        <div class="preview">
            <img src="/storage/img/Image Preview.png">
            <div class="botones">
                <a href="#"><img src="/storage/img/Back.png"></a>

            </div>
        </div>
    </header>
    <div class="info">
        <div class="title">
            <h1>Light Dress Bless</h1>
            <p>⭐5.0 (7.932 reviews)</p>
            <div class="counter">
                <button onclick="decrease()">-</button>
                <span id="count">1</span>
            <button onclick="increase()">+</button>
            </div>
        </div>


    </div>

</body>
</html>